<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CDP | Log in</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/css/font-awesome.css" rel="stylesheet" />
	<link href="../assets/css/AdminLTE.min.css" rel="stylesheet" /><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]--><!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
<div class="login-box">
<div class="login-logo"><a href=""><b>DIALISIS PIURA</b> 2.0</a></div>
<!-- /.login-logo -->

<div class="login-box-body">
<p class="login-box-msg">Ingresa tus datos de acceso</p>

<form id="frmAcceso" method="post">
<div class="form-group has-feedback"><input autocomplete="off" class="form-control" id="logina" maxlength="20" name="logina" placeholder="Usuario" type="text" /></div>

<div class="form-group has-feedback"><input class="form-control" id="clavea" name="clavea" placeholder="Password" type="password" /></div>

<div class="row">
<div class="col-xs-4"><button class="btn btn-primary btn-block btn-flat" type="submit">Entrar</button></div>
</div>
</form>
</div>
</div>
<script src="../assets/js/jquery.min.js"></script><script src="../assets/js/bootstrap.min.js"></script><script src="../assets/js/bootbox.min.js"></script><script src="scripts/login.js"></script></body>
</html>